@import "style/helpers";

$inner-padding: $buffer-lg;
$outer-padding: $buffer;

.buttons, .caption { flex: 0 0; }
.buttons {
  display: flex;
  gap: $buffer;
  justify-content: center;
  margin: $buffer 0;

  &.likert {
    .me, .reallyMe {
      @include theme("background-color", "me");
      &:active, &:hover { @include theme("background-color", "me-active"); }
    }
    .notMe, .reallyNotMe {
      @include theme("background-color", "not-me");
      &:active, &:hover { @include theme("background-color", "not-me-active"); }
    }
  }
  .me {
    @include theme("background-color", "me");
    &:active, &:hover { @include theme("background-color", "me-active"); }
  }
  .notMe {
    @include theme("background-color", "not-me");
    &:active, &:hover { @include theme("background-color", "not-me-active"); }
  }
  .response {
    border-radius: $border-radius-sm;
    flex: 1 1 0;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 2;
    padding: $buffer $buffer * 0.25;
    text-align: center;

    @include min-width("xs") { padding: $buffer $buffer * 0.5; }
    @include min-width("sm") {
      font-size: $font-size * 1.25;
      line-height: $line-height;
      padding: $buffer;
      max-width: 150px;
    }
    @include theme("color", "text-light");
    &:focus {
      outline-offset: -1px;
      outline-style: solid;
      outline-width: 1px;
    }
  }
  button.btnDisabled {
    &:active, &:hover { @include theme("background-color", "inactive"); }
  }
}
.caption {
  @extend %heading;

  margin-bottom: $buffer-heading;
  margin-top: $buffer;
  text-align: center;

  @include theme("color", "text");
  &:focus, &:focus-visible { outline: none; }
}
.container {
  @extend %container;

  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100svh;
  margin: 0 auto;
  max-height: 100vh;
  max-height: 100svh;
  max-width: 100%;
  position: relative;
  z-index: 1;

  @include min-width("xs") {
    aspect-ratio: 4/3;
    height: auto;
  }
  @include min-width("sm") { max-width: $breakpoint-xs; }
  @include min-width("md") { max-width: $breakpoint-sm; }
  @include min-width("lg") { max-width: $breakpoint-md; }
  @include min-width("xl") { max-width: $breakpoint-lg; }
  @include min-width("2xl") { max-width: $breakpoint-xl; }
  @include min-width("3xl") { max-width: $breakpoint-2xl; }
  @include min-width("4xl") { max-width: $breakpoint-3xl; }
  &:fullscreen {
    bottom: 0;
    position: fixed;
    top: 0;
  }
  .back, .fullscreen {
    border-radius: $border-radius-sm;
    bottom: 30px;
    height: 40px;
    opacity: 0.7;
    padding: $buffer * 0.5;
    position: absolute;
    width: 40px;
    z-index: 1;

    @include theme("color", "text-light");
    @include theme("background-color", "fullscreen");
    &:hover{ opacity: 1; }
    svg {
      display: block;
      height: 100%;
      margin: auto;
      width: auto;
    }
  }
  .back { left: 30px; }
  .fullscreen { right: 30px; }
}
.content {
  border-radius: $border-radius;
  flex: 1 1 0;
  overflow: hidden;
  position: relative;

  .progress {
    height: $border-width-xl;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: width 0.3s;
    width: 0%;
    z-index: 1;

    @include theme("background-color", "progress-bar");
  }
}
.error, .loading {
  height: 100%;

  @include theme("background-color", "inactive");
}
.error {
  align-items: center;
  display: flex;
  justify-content: center;
}
.instructions {
  background: url("https://cdn.traitify.com/assets/images/js/instructions_slide.jpg") no-repeat center center;
  background-size: cover;
  overflow: auto;
  padding: $buffer * 4 $buffer $buffer;

  @include theme("color", "text-light");

  .markdown {
    border: $border-width-lg solid;
    border-radius: $border-radius;
    margin: 0 auto $buffer;
    max-width: 800px;
    padding: 0 $buffer;

    @include min-width("md") { margin-bottom: $buffer-lg; }
    @include min-width("lg") { padding: 0 $buffer-lg; }
    @include theme("border-color", "text-light");
  }
  button {
    border-radius: $border-radius-sm;
    display: block;
    font-size: $font-size-heading;
    margin: auto;
    padding: $buffer $buffer * 4;

    @include theme("background-color", "theme");
    &:hover { opacity: 0.7; }
  }
  h1 { margin: $buffer 0; }
}
.slide {
  bottom: 0;
  position: absolute;
  top: 0px;
  width: 100%;

  &.left { left: 0%; }
  &.middle {
    left: 0%;
    transition: left 0.3s;
  }
  &.right { left: 100%; }
  &.text {
    align-items: center;
    display: flex;
    font-size: $font-size-heading;
    font-weight: 600;
    justify-content: center;
    text-align: center;
  }
  img {
    height: 100%;
    width: 100%;
  }
}
:global(.traitify--survey-text) {
  .buttons { margin-bottom: 0; }
  .content {
    border-bottom: $border-width solid;
    border-radius: 0;

    @include theme("border-color", "border");
  }
  .progress {
    border-radius: $border-radius-sm;
    height: 100%;
    transition: width 0.3s;
    width: 0%;

    @include theme("background-color", "progress-bar");
  }
  .progressBar {
    border-radius: $border-radius-sm;
    height: $border-width-xl;
    margin-bottom: $buffer;

    @include theme("background-color", "border");
  }
  .response {
    @include min-width("sm") { max-width: 100%; }
  }
  .slide {
    @include theme("background-color", "background");
  }
  &.container {
    padding: $inner-padding + $outer-padding $outer-padding;

    @include min-width("xs") {
      aspect-ratio: 2/1;
      max-width: $breakpoint-md;
    }
    @include theme("background-color", "background");

    .back { left: 0; }
    .fullscreen { right: 0; }
    .back, .fullscreen { bottom: $buffer; }
  }
  &:after {
    border: $border-width solid;
    border-radius: $border-radius;
    bottom: $outer-padding;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: $outer-padding;
    z-index: -1;

    @include theme("border-color", "border");
  }
}
