@import "style/helpers";

.heading {
  @include rems(13);
  @include mq(m) {
    @include rems(15);
  }
  @include mq(xl) {
    @include rems(18);
  }
  color: #767676;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 25px;
  text-transform: uppercase;
}
