@import "~style/paradox/helpers";


.container {
  @extend %container;

  border: $border-width * 2 solid $-blue;
  border-radius: $border-radius-sm * 2.5;
  width: 100%;

  display: block;
  margin: 0 auto 5%;
  padding: 0;
  z-index: 1;

  @include min-width(xs) {
    margin: 0 0% 3%;
    padding: 0;
  }
  @include min-width(xl) {
    margin: 0 0 1.5%;
  }

  .header {
      color: $-white;
      background-color: $-blue;
      border-radius: $border-radius-sm $border-radius-sm 0 0 ;
      text-align: left;
      padding: $buffer-sm * .5 0 $buffer-sm * .5 $buffer-lg
  }

  .content {
      padding: $buffer-sm * .63;
  }
}
