@import "~style/helpers";

.dimension {
  max-width: 1500px;
  margin: 0 auto;
  text-align: left;
  color: white;
  margin-bottom: 20px;
  &:last-of-type {
    margin-bottom: 0;
  }
  .content {
    padding: 0 20px;
    &:after {
      clear: both;
      content: " ";
      display: table;
    }
  }
  .trigger {
    color: white;
    text-decoration: none;
    display: inline-block;
    float: right;
    padding: 10px 0 5px;
    i {
      font-size: 26px;
      vertical-align: middle;
    }
  }
  .icon {
    clear: both;
    text-align: center;
    img {
      width: 50%;
      max-width: 220px;
    }
  }
  .score {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    @include rems(26);
  }
  .title {
    text-align: center;
    font-weight: normal;
    margin: 0;
    @include rems(24);
    img {
      vertical-align: sub;
    }
  }
  .description {
    text-align: left;
    padding-bottom: 30px;
  }
  .details {
    clear: both;
    margin: 0 -20px;
    .content {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  .detail {
    padding: 0 20px;
    h5 {
      margin: 0;
      line-height: 35px;
      font-weight: normal;
      @include rems(18);
      &:before {
        content: " ";
        display: inline-block;
        width: 35px;
        height: 35px;
        vertical-align: bottom;
        margin-right: 10px;
      }
    }
    ul {
      list-style: none;
      padding: 20px 0;
      margin: 0;
    }
    li {
      margin-top: 5px;
    }
    .benefits:before {
      background: url("https://cdn.traitify.com/assets/images/thumbs_up.svg") no-repeat left center;
    }
    .pitfalls:before {
      background: url("https://cdn.traitify.com/assets/images/thumbs_down.svg") no-repeat left center;
    }
  }
}

@media (min-width: $breakPoint2) {
  .dimension {
    .icon {
      float: left;
      width: 140px;
      margin-top: 5px;
      margin-bottom: 0;
      img {
        width: 100%;
      }
    }
    .score {
      float: left;
      clear: both;
      width: 140px;
      margin-top: 10px;
    }
    .title, .description {
      margin-left: 190px;
    }
    .title {
      padding-top: 40px;
      text-align: left;
    }
    .details .content {
      padding-left: 40px;
    }
    .detail {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      ul {
        padding: 10px 0;
        margin-left: 45px;
      }
    }
  }
}
@media (min-width: $breakPoint3) {
  .dimension {
    .title, .description {
      margin-right: 190px;
    }
  }
}

@media (min-width: $breakPoint4) {
  .dimension {
    .title, .description {
      margin-right: 20px;
    }
    .details {
      margin: 0 130px;
      .content {
        padding-left: 0px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
      }
    }
    .detail {
      width: 33%;
      &:first-of-type {
        margin-left: calc(33%/2);
      }
    }
  }
}
