@import "~style/helpers";

.dimension {
  font: 100%/1.5 "Source Sans Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
  font-weight: 400;
  color: #444;

  max-width: $breakPoint5;
  margin: 0 auto;
  text-align: left;
  color: white;
  margin-bottom: 20px;
  &:last-of-type { margin-bottom: 0; }
  .trigger {
    color: white;
    text-decoration: none;
    display: inline-block;
    float: right;
    padding: 10px 20px 5px;
    i {
      font-size: 26px;
      vertical-align: middle;
    }
  }
  .main {
    &:after {
      clear: both;
      content: " ";
      display: table;
    }
    .content {
      color: #333;
      padding: 20px 20px 30px;
      h4 {
        margin: 0;
        font-weight: normal;
        text-align: center;
        @include rems(24);
      }
    }
  }
  .side {
    clear: both;
    text-align: center;
    .icon img {
      width: 50%;
      max-width: 220px;
    }
    .score {
      font-weight: bold;
      margin-top: 10px;
      @include rems(26);
    }
  }
  .details {
    clear: both;
    margin: 0 -20px;
    .content { padding: 20px; }
  }
  .detail {
    padding: 0 20px;
    h5 {
      margin: 0;
      line-height: 35px;
      font-weight: normal;
      @include rems(18);
      &:before {
        content: " ";
        display: inline-block;
        width: 35px;
        height: 35px;
        vertical-align: bottom;
        margin-right: 10px;
      }
    }
    ul {
      list-style: none;
      padding: 20px 0;
      margin: 0;
    }
    li {
      margin-top: 5px;
    }
    .benefits:before {
      background: url("https://cdn.traitify.com/assets/images/thumbs_up.svg") no-repeat left center;
    }
    .pitfalls:before {
      background: url("https://cdn.traitify.com/assets/images/thumbs_down.svg") no-repeat left center;
    }
  }
}

@media (min-width: $breakPoint2) {
  .dimension {
    .side {
      float: left;
      width: 130px;
      margin: 5px 20px 0;
      .icon {
        margin-bottom: 10px;
        img { width: 100%; }
      }
    }
    .main .content {
      margin-left: 170px;
      padding-top: 40px;
      text-align: left;
      p { @include rems(17); }
    }
    .details .content {
      padding-left: 40px;
    }
    .detail {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      @include rems(17);
      ul {
        padding: 10px 0;
        margin-left: 45px;
      }
    }
  }
}

@media (min-width: $breakPoint3) {
  .dimension {
    .main .content {
      padding-right: 80px;
      h4 { @include rems(28); }
      p { @include rems(18); }
    }
    .score { @include rems(28); }
  }
}

@media (min-width: $breakPoint4) {
  .dimension {
    .main .content {
      padding-right: 170px;
      h4 { @include rems(34); }
      p { @include rems(19); }
    }
    .details {
      margin: 0 60px;
      .content {
        padding-left: 0px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
      }
    }
    .detail {
      width: 38%;
      &:first-of-type { margin-left: calc(28%/2); }
      h5 { @include rems(20); }
    }
  }
}

@media (min-width: $breakPoint5) {
  .dimension {
    .details { margin: 0 130px; }
    .detail {
      width: 35%;
      &:first-of-type { margin-left: calc(33%/2); }
    }
  }
}
