@import "~style/paradox/helpers";

.container {
  @extend %container;
  @extend %shadow-box;

  margin-bottom: $buffer-section;

  .toggle {
    display: block;
    margin: 0 auto;
    padding: $buffer * 0.5 $buffer;

    @include theme("background", "inactive-color");
  }
}
.p { @extend %paragraph; }
