{
  "extends": [
    "plugin:jest/recommended"
  ],
  "rules": {
    "import/no-unresolved": "off", // Until jest import/resolver is fixed
    "max-nested-callbacks": "off",
    "no-new": "off",
    "prefer-promise-reject-errors": "off",
    "react/jsx-no-bind": "off"
  },
  "settings": {
    "import/resolver": {
      "jest": {
        "jestConfigFile": "./test/jest.config.js"
      },
      "webpack": {
        "config": "webpack.config.babel.js"
      }
    }
  }
}
