@import "style/helpers";

// TODO: Does this even need display or width?
.carousel {
  display: flex;
  width: 100%;
}
.container {
  display: flex;
  // TODO: Space between? seems wrong
  justify-content: space-between;
  // TODO: Overflow seems wrong too
  overflow: hidden;
  overflow-y: hidden;
  padding: $buffer;

  @include min-width("xs") { padding: $buffer-sm 0; }

  .back { margin: 5px 10px 5px 0px; }
  .next { margin: 5px 0px 5px 10px; }
  .back, .next {
    align-items: center;
    display: flex;
    border: 1px solid;
    border-radius: $border-radius-sm;
    // TODO: Height?
    height: 170px;
    padding: $buffer-sm * 0.5;

    @include theme("border-color", "border");
    @include theme("color", "theme");

    &:disabled {
      @include theme("color", "inactive");
    }
  }
}
