@import "style/helpers";

.container {
  align-items: stretch;
  display: flex;
  gap: $buffer;
  margin-top: $buffer;

  .back, .next {
    align-items: center;
    display: flex;
    border: $border-width solid;
    border-radius: $border-radius-sm;
    padding: $buffer-sm * 0.5;

    @include theme("border-color", "border");
    @include theme("color", "theme");

    &:disabled {
      @include theme("color", "inactive");
    }
  }
}
.content {
  display: flex;
  flex: 1;
  gap: $buffer;
  justify-content: space-between;
  overflow-x: hidden;
}
