@import "~style/helpers";

.modal {
  background: rgba(0,0,0,0.85);
  color: #333;
  width: 100%;
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: 100;
  transition: top 300ms ease-in-out;

  .close {
    color: #000;
    float: right;
    padding: 5px 10px 10px;
    cursor: pointer;
    @include rems(20);
  }
}
.modalContainer {
  @include mq(m) {
    width: 100%;
    max-width: 500px;
    position: relative;
    left: 50%;
    margin: 70px -250px 0;
  }
}
.modalContent {
  background: #fff;
  padding: 20px 20px 10px;
  text-align: left;
}

.container {
  .modalContainer {
    @include mq(m) {
      max-width: 650px;
      margin: 70px -325px 0;
    }
    @include mq(l) {
      max-width: 800px;
      margin: 70px -400px 0;
    }
    @include mq(xl) {
      max-width: 1000px;
      margin: 70px -500px 0;
    }
  }
  hr {
    clear: both;
    margin: 20px 0;
  }
  h4 {
    margin: 0;
    @include rems(15);
    @include mq(m) {
      @include rems(17);
    }
  }
  p {
    padding: 0 10px;
    @include rems(14);
    @include mq(m) {
      @include rems(16);
    }
  }
  img {
    float: right;
    width: 40%;
    margin: 0 0 20px 20px;
    @include mq(m) {
      float: left;
      margin: 0 20px 20px 0;
    }
    @include mq(xl) {
      width: 30%;
    }
  }
}

.title {
  margin: 0;
  padding: 0 10px;
  @include rems(18);
  @include mq(m) {
    @include rems(20);
  }
}
.description {
  line-height: 1.25;
  @include mq(m) {
    line-height: 1.4;
  }
}
.info {
  list-style: none;
  margin: 0 10px 0;
  padding: 0;
  @include rems(15);
  @include mq(m) {
    @include rems(17);
  }
  @include mq(l) {
    float: left;
    width: 48%;
    margin: 0 1% 0;
  }
  li {
    display: block;
    width: 100%;
    margin: 0 0 5px;
    @include mq(l) {
      margin-bottom: 25px;
    }
    h4 {
      display: inline-block;
      width: 49%;
      margin: 0;
      @include mq(l) {
        width: 52%;
      }
      i {
        display: none;
        @include mq(l) {
          display: inline-block;
          width: 30px;
          text-align: center;
          @include rems(20);
        }
      }
    }
  }
}
.infoText {
  display: inline-block;
  width: 49%;
  text-align: right;
  @include mq(l) {
    width: 45%;
  }
}
.legend {
  clear: both;
  float: left;
  margin: -22px 0 25px;
  padding-top: 20px;
  background: lighten(#ca4c49, 44%);
  border: 1px solid #ca4c49;
  p {
    margin-top: 0;
  }
}
.legendToggle {
  background: #ca4c49;
  color: #fff;
  padding: 5px 8px;
}
.experience {
  padding: 0;
  margin: 0 10px;
  list-style: none;
  li {
    display: inline-block;
    background: #ddd;
    border: 2px solid #ddd;
    padding: 5px;
    margin-right: 1px;
  }
  li.active {
    background: #27b6f1;
    border: 2px solid darken(#27b6f1, 5%);
  }
}

.check {
  float: left;
  display: block;
  opacity: 0;
  + span svg {
    color: #d6d6d6;
  }
  &:checked + span svg {
    color: #00aeef;
  }
  &:focus + span svg {
    color: #00aeef;
  }
  &:checked:focus + span svg {
    color: #00aeef !important;
  }
}
