@import "~style/helpers";

.archetype {
  @extend %widgetContainer;
  @extend %cf;
}
.archetypeStyle {
  background: #4d53d6;
  background: -moz-linear-gradient(137deg, #4d85d6 0%, #4d53d6 100%);
  background: -webkit-linear-gradient(137deg,#4d85d6 0%,#4d53d6 100%);
  background: linear-gradient(137deg, #4d85d6 0%,#4d53d6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d85d6', endColorstr='#4d53d6',GradientType=1 );
  color: $white;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  @include rems(16);
  @include mq(m) {
    float: left;
    width: 49%;
    margin-right: 2%;
    padding: 20px;
    @include rems(17);
  }
  @include mq(xl) {
    @include rems(18);
  }
  img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 80px;
  }
  h2 {
    margin-top: 5px;
  }
  span {
    font-weight: bold;
    display: block;
  }
  p {
    clear: both;
  }
}
.archetypeMeaning {
  padding: 20px;
  margin-bottom: 20px;
  @include rems(16);
  @include mq(m) {
    float: left;
    width: 49%;
    @include rems(17);
  }
  h2 {
    margin-top: 30px;
  }
  @include mq(xl) {
    @include rems(18);
  }
}
