{
  "sourceMaps": true,
  "presets": [
    ["env", {
      "loose": true, // IE 10
      "targets": {
        "browsers": ["last 2 versions", "ie >= 9"]
      }
    }],
    "stage-0"
  ],
  "plugins": [
    "transform-proto-to-assign", // IE 10
    ["transform-react-jsx", {pragma: "h" }],
    ["jsx-pragmatic", {export: "h", import: "h", module: "preact"}]
  ]
}
