{
  env: {
    node: true
  },
  extends: [
    "traitify",
    "plugin:jest/recommended"
  ],
  globals: {
    XDomainRequest: true
  },
  parser: "babel-eslint",
  parserOptions: {
    ecmaFeatures: {
      jsx: true,
      modules: true
    }
  },
  plugins: ["babel", "jest"],
  rules: {
    "import/export": "off"
  },
  settings: {
    "import/resolver": "webpack",
    react: {version: "detect"}
  }
}
