{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "plugins": ["babel", "react"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "pragma": "h"
    }
  },
  "globals": {
    "sleep": 1
  },
  "rules": {
    "react/jsx-no-bind": ["error", { "ignoreRefs": true }],
    "react/jsx-no-duplicate-props": "error",
    "react/self-closing-comp": "error",
    "react/prefer-es6-class": "error",
    "react/no-string-refs": "error",
    "react/require-render-return": "error",
    "react/no-find-dom-node": "error",
    "react/no-is-mounted": "error",
    "react/jsx-no-comment-textnodes": "error",
    "react/jsx-curly-spacing": "error",
    "react/jsx-no-undef": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "no-empty": "off",
    "no-console": "off",
    "no-empty-pattern": "off",
    "no-cond-assign": "warn",
    "semi": "error",
    "camelcase": "off",
    "comma-style": "error",
    "comma-dangle": ["error", "never"],
    "no-mixed-spaces-and-tabs": "error",
    "no-trailing-spaces": "error",
    "max-nested-callbacks": ["error", 3],
    "no-eval": "error",
    "no-implied-eval": "error",
    "no-new-func": "error",
    "guard-for-in": "error",
    "eqeqeq": ["warn", "smart"],
    "no-redeclare": "error",
    "no-dupe-keys": "error",
    "radix": "error",
    "strict": ["error", "never"],
    "no-shadow": "off",
    "no-delete-var": "error",
    "no-undef-init": "error",
    "no-shadow-restricted-names": "error",
    "handle-callback-err": "off",
    "no-lonely-if": "error",
    "constructor-super": "error",
    "no-this-before-super": "error",
    "no-dupe-class-members": "error",
    "no-const-assign": "error",
    "prefer-spread": "error",
    "no-useless-concat": "error",
    "no-var": "error",
    "object-shorthand": "error",
    "prefer-arrow-callback": "error",

    "arrow-spacing": ["error", {"before": false, "after": false}],
    "babel/object-curly-spacing": "error",
    "indent": ["error", 2, {"SwitchCase": 1}],
    "jsx-quotes": "error",
    "keyword-spacing": ["error", {
      "before": false,
      "after": false,
      "overrides": {
        "as": {"before": true, "after": true},
        "case": {"before": true, "after": true},
        "export": {"before": true, "after": true},
        "from": {"before": true, "after": true},
        "import": {"before": true, "after": true},
        "let": {"before": true, "after": true},
        "return": {"before": true, "after": true},
        "this": {"before": true, "after": true}
      }
    }],
    "no-multiple-empty-lines": ["error", {"max": 1, "maxBOF": 0, "maxEOF": 0}],
    "no-unused-vars": ["error", {"args": "none"}],
    "object-curly-spacing": "off",
    "padded-blocks": ["error", "never"],
    "quotes": ["error", "double", {"avoidEscape": true}],
    "space-before-blocks": ["error", "never"],
    "space-before-function-paren": ["error", "never"]
  }
}
