@import "~style/helpers";

.container {
  @extend %widgetContainer;
}

.tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  @include mq(l) {
    display: block;
  }
  li {
    display: inline-block;
    text-align: center;
    background: #F8F9FA;
    border: 1px solid #E0E1E2;
    padding: 15px;
  }
  li.active {
    background: white;
    border-top: 5px solid #007DBE;
    padding-top: 30px;
    border-bottom: 1px solid white;
  }
  button {
    background: transparent;
    border: 0;
  }
}
.name {
  text-align: center;
  @include rems(20);
  @include mq(xl) {
    @include rems(26);
  }
}

.tab {
  border: 1px solid #E0E1E2;
  padding: 20px 0;
  margin-bottom: 20px;
  @include mq(l) {
    border-width: 0 1px 1px;
  }
}
.formSelect {
  display: block;
  padding: 0;
  margin: 0 20px 20px;
  width: 90%;
  color: #333;
  background: #fff url("https://cdn.traitify.com/images/select.gif") no-repeat 95% 50%;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 36px;
  @include mq(l) {
    display: none;
  }
  select {
    width: 100%;
    height: 36px;
    border: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none ;
    line-height: 36px;
    padding: 0 12px;
    @include rems(16);
  }
}
.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    background: #F2F3F4;
    display: inline-block;
    display: inline-flex;
    flex-flow: column;
    justify-content: center;
    margin-bottom: 15px;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    @include rems(17);
    @include mq(m) {
      width: 49%;
      margin: 0 0.5% 15px;
      min-height: 125px;
      @include rems(19);
    }
  }
}
