@import "~style/paradox/helpers";

.container {
  @extend %container;

  // TODO: Remove
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }

  display: block;
  margin: 0 auto 5%;
  padding: 0;
  width: 262px;
  z-index: 1;

  @include min-width(xs) {
    margin: 0 0% 3%;
    float: left;
    width: 47%;
    padding: 0;
  }
  @include min-width(md) {
    width: 30%;
  }
  @include min-width(xl) {
    width: 23%;
    margin: 0 1% 1.5%;
  }
  img { 
    margin: 0px 20px 0px 0px;
    border-radius: $border-radius-sm * 2.5;
    width: 100px;
    height: 100px;
  }
  &[type="button"] {
    border: 1px solid $-white;
    border-radius: $border-radius-sm * 2.5;
    width: 100%
  }
}
#container {
  border: 1px solid;
  border-radius: $border-radius-sm * 2.5;
  width: 100%;
  @include theme(border-color,"border-color-light");
}

.content {
  @include min-width(xs) {
    padding: 0 $buffer $buffer;
  }
  text-align: left;
}

.title {
  font-weight: 500;
  text-align: left;
  margin-bottom: 10px;

  font-size: 14px;
  font-size: 0.875rem;

  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;

  @include min-width(md) {
    font-size: 16px;
    font-size: 1rem;
  }
}

.description {
  line-height: 1.25;
  text-align: left;

  font-size: 12px;
  font-size: 0.75rem;

  line-height: 1.35;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;

  @include min-width(md) {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

.subtitle {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }

  width: 80%;
  font-weight: 400;
  margin: 0;

  font-size: 13px;
  font-size: 0.8125rem;

  @include min-width(xs) {
    margin-top: initial;
  }
  @include min-width(md) {
    font-size: 15px;
    font-size: 0.9375rem;
  }
}

.subtitleFull {
  @extend .subtitle;
  width: 100%;
}

.experience {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    display: inline-block;
    background: $-gray-hover;
    border: 2px solid $-gray-hover;
    padding: 5px;
    margin-right: 3px;
    border-radius: $border-radius-sm;
  }
  li.active {
    background: $-blue;
    border: 2px solid $-blue;
    border-radius: $border-radius-sm;
  }
}

.education {
  margin: 0;
  font-size: 12px;
  font-size: 0.75rem;
  @include min-width(md) {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

.matchRate {
  width: 80%;
  height: 15px;
  background: $-gray-hover;
  margin-top: 2px;
  border-radius: $border-radius-sm;
  span {
    display: block;
    background: #89e2cd;
    height: 15px;
    border-radius: $border-radius-sm;
  }
  span[data-match-rate^="6"], span[data-match-rate^="5"], span[data-match-rate^="4"] {
    background: #fbd288;
  }
  span[data-match-rate^="3"], span[data-match-rate^="2"], span[data-match-rate^="1"] {
    background: #fda7ab;
  }
}

.matchRatePercent {
  font-style: normal;
  font-weight: 300;
  float: right;
  font-size: 13px;
  font-size: 0.8125rem;
  @include min-width(md) {
    font-size: 15px;
    font-size: 0.9375rem;
  }
}

.upperBox {
  display: flex;
  width: 100%;
  padding: 10px 0px;

  @include min-width(xs) {
    width: 50%;
    padding-right: 10px
  }

  .innerContent{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include min-width(xs) {
      width: 50%;
    }
  }
}

.lowerBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0px;

  @include min-width(xs) {
    width: 50%;
    padding-left: 10px;
  }

  div {
    @include min-width(xs) {
      width: 100%;
    }
  }

  .innerContent{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include min-width(xs) {
      width: 50%;
    }
  }

  .learnMore {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius-sm;
  
    @include min-width(xs) {
      width: 50% !important;
    }
    button {
      padding: 10px 10%;
      color: $-white;
      background-color: $-blue;
      border-radius: $border-radius-sm !important;
      white-space: nowrap;
    }
  }
}

.grayDivider {
  color: #555555;
  width: 95%;
  margin: 10px auto 10px;
  line-height: inherit;
  clear: both;
  user-select: none;
  break-after: page;
  border: 1px solid #e8e8ec;
}

.education { 
  width: 100%;
  padding-left: 10%;

  @include min-width(xs) {
    padding-left: initial;
    width: initial;
  }
}

.careerContainer {
  display: flex;
  margin:  20px;
}

.careerDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
