@import "style/paradox/helpers";

.bar { height: $border-width-xl; }
.container {
  border-radius: $border-radius;
  overflow: hidden;

  @include theme("background", "background-color-light");
  @include buffer("margin-bottom");
  &:last-child { margin-bottom: 0; }
}
.content {
  align-items: center;
  display: flex;
  padding: $buffer-sm $buffer-lg;

  img {
    width: 50px;

    @include buffer("margin-right");
  }
}
.description {
  display: block;
  font-weight: normal;
  margin-right: $buffer;

  @include min-width("sm") {
    display: inline-block;
    margin-left: $buffer-sm;

    &::before {
      content: "-";
      display: inline-block;
      margin-right: $buffer-sm;
    }
  }
}
.heading {
  flex-grow: 1;
  font-weight: bold;
}
