@import "~style/helpers";

.radar {
  font: 100%/1.5 "Source Sans Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
  font-weight: 400;
  color: #444;

  padding: 20px 0;
  margin: 0 auto;
  max-width: 800px;
}

@media (max-width: $breakPoint3) {
  .radar { display: none; }
}
