@import "~style/helpers";

.radar {
  font: 100%/1.5 "Source Sans Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
  font-weight: 400;
  color: #444;

  padding: 20px 0;
  text-align: center;
  .radarContainer{
    width: 100% !important;
    height: auto;
    max-width: 500px;
    margin: 0px auto;
  }
}