#!/bin/bash

# make sure we don't leave zombies
trap "kill 0" EXIT

# This will setup folders that we need, and run apache
echo "Make our directories"
mkdir -p {{ env "NOMAD_TASK_DIR" }}/var/run/apache2
mkdir -p {{ env "NOMAD_TASK_DIR" }}/var/lock
mkdir -p {{ env "NOMAD_TASK_DIR" }}/var/log/apache2

apachectl -D FOREGROUND -k start
echo "Oops.  Looks like apache exited. Container will exit."
