@import "./../variables";
@import "~style/helpers";

.back{
  background-color: $progressBar;
  background-size: 100% 100%;
  border: none;
  -webkit-transition: opacity .2s; /* Safari */
  transition: opacity .2s;
  &:hover{ opacity: 1; }

  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 3px;
  opacity: 0.7;
  z-index: 3;

  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }

  bottom: 100px;
  margin-right: 110px;
  right: 50%;

  @include mq(xs) {
    bottom: 36px;
    left: 30px;
    margin-right: 0;
    right: auto;
  }
}
.captionContainer{
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 25px;
  position: absolute;
  top: 0px;
  z-index: 1;
  background-color: $captionBackground;
  .caption{
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
    position: absolute;
    z-index: 1;
    line-height: 50px;
    color: #fff;
  }
  .progressContainer{
    margin: 0px auto;
    width: 300px;
    margin-bottom: 10px;
  }
  .progress{
    -webkit-transition: width .3s; /* Safari */
    transition: width .3s;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: $progressBar;
  }
}
.fullscreen{
  background: none;
  border: none;
  background-image: url("https://cdn.traitify.com/assets/images/js/full-screen-icon-large.png");
  &.fullscreenSmall{
    background-image: url("https://cdn.traitify.com/assets/images/js/full-screen-icon-small.png");
  }
  background-size: 100% 100%;
  -webkit-transition: opacity .2s; /* Safari */
  transition: opacity .2s;
  &:hover{ opacity: 1; }

  padding: 3px;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  opacity: .5;

  position: absolute;
  z-index: 3;
  cursor: pointer;

  bottom: 100px;
  left: 50%;
  margin-left: 110px;

  @include mq(xs) {
    bottom: 36px;
    left: auto;
    margin-left: 0;
    right: 30px;
  }
}
.instructionsButton {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  color: #fff;
  background: #3ca94e;
  background: $instructionsColor;
  border-radius: 5px;
  border: 0;
  padding: 10px 70px;
  cursor: pointer;
  &:hover {
    background: $instructionsActiveColor;
  }
  @include mq(l) {
    font-size: 32px;
    padding: 10px 80px;
  }
}
.instructionsSlide {
  min-height: 100vh;
  background: url("https://cdn.traitify.com/assets/images/js/instructions_slide.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  padding: 70px 20px 0;
  @include mq(m) {
    min-height: $minHeight;
  }
}
.instructionsStart {
  text-align: center;
}
.instructionsText {
  max-width: 800px;
  margin: 0 auto 20px;
  padding: 0 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 15px;
  @include mq(m) {
    margin: 0 auto 30px;
    @include rems(18);
  }
  @include mq(l) {
    margin: 0 auto 30px;
    padding: 10px 30px;
    @include rems(20);
  }
  h1 {
    margin: 10px 0;
    @include rems(18);
    @include mq(m) {
      @include rems(22);
    }
    @include mq(l) {
      @include rems(24);
    }
  }
}
.responseContainer{
  z-index: 1;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  .buttons{
    margin: 0px auto;
    width: 300px;
    margin-bottom: 10px;
    color: #fff;
    overflow: hidden;
    height: 57px;
    border-radius: 3px;
    .me, .notMe{
      transition: none;
      cursor: pointer;
      user-select: none;
      color: #fff;
      text-decoration: none;
      position: relative;
      display: inline-block;
      padding: 0px;
      border: 0;
      height: 57px;
      line-height: 57px;
      letter-spacing: 2px;
      font-size: 20px;
      width: 150px;
      &:focus{
        outline-width: 5px;
        outline-offset: -5px;
        outline-style: solid;
      }
    }
    .me{
      background-color: $meColor;
      &:active{
        background-color: $mePressedColor;
      }
    }
    .notMe{
      background-color: $notMeColor;
      &:active{
        background-color: $notMePressedColor;
      }
    }
  }
}
.slideContainer{
  position: relative;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  @include mq(m) {
    min-height: $minHeight;
  }
}
.slide{
  min-height: 100vh;
  position: absolute;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
  &.invisible{
    left: 0%;
    display: none !important;
  }
  &.left{ left: 0%; }
  &.middle{
    transition: left .3s;
    left: 0%;
  }
  &.right{ left: 100%; }
  @include mq(m) {
    min-height: $minHeight;
  }
}
.likertScale {
  .responseContainer {
    bottom: 0px;
  }
  .back, .fullscreen {
    bottom: 110px;
    @include mq(xs) {
      bottom: 130px;
    }
    @include mq(m) {
      bottom: 36px;
    }
  }
  .buttons {
    border-radius: 0px;
    height: auto;
    margin-bottom: 0px;
    width: auto;
    .me, .notMe {
      border: 0 solid white;
      font-size: 18px;
      height: 100px;
      line-height: 32px;
      vertical-align: top;

      padding: 0 5px;
      width: 25%;
      @include mq(xs) {
        font-size: 20px;
        height: 75px;
        padding: 0 10px;
      }
      @include mq(s) {
        font-size: 24px;
        line-height: 32px;
        padding: 0 20px;
      }
      @include mq(m) {
        width: 150px;
      }
    }
    @include mq(m) {
      margin-bottom: 10px;
    }
    .me {
      border-left-width: 1px;
    }
    .notMe {
      border-right-width: 1px;
    }
    .reallyMe {
      border-left-width: 2px;
    }
    .reallyNotMe {
      border-right-width: 2px;
    }
  }
  .slide {
    padding-bottom: 74px;
    @include mq(m) {
      padding-bottom: 0;
    }
  }
}
