@import "~style/paradox/helpers";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 30px;

  .job {
    padding-bottom: 15px;

    .title {
      font-weight: 500;
      padding-bottom: 5px;

      font-size: 16px;
      font-size: 1rem;
    }
    .description {
      font-size: 14px;
      font-size: 0.875rem;
    }
  }
}