@import "~style/helpers";

// Trait Styles
.trait {
  @extend %cf;
  margin-bottom: 16px;
  @include mq(xl) {
    margin-bottom: 20px;
  }
}
.traitBar {
  height: 5px;
  @include mq(xl) {
    height: 7px;
  }
}
.traitContent {
  @extend %cf;
  padding: 10px 15px 12px 10px;
}
.traitScore {
  float: right;
  margin: 0 0 0 20px;
  @include rems(19);
  @include mq(m) {
    margin: 18px 0 0 30px;
    @include rems(21);
  }
  @include mq(xl) {
    margin-right: 10px;
    @include rems(24);
  }
}
.traitIcon {
  float: left;
  margin: 5px 12px 0 0;
  max-width: 65px;
  @include mq(m) {
    margin-right: 16px;
  }
  @include mq(xl) {
    margin-left: 10px;
  }
}
.traitName {
  font-weight: normal;
  margin: 0 0 3px;
  @include rems(19);
  @include mq(m) {
    margin-top: 18px;
    margin-bottom: 10px;
    @include rems(21);
  }
  @include mq(xl) {
    @include rems(24);
  }
}
.traitDescription {
  margin: 0;
  overflow: hidden;
  display: block;
  @include rems(15);
  @include mq(m) {
    display: inline;
    overflow: initial;
    margin-left: 5px;
    @include rems(17);
    &:before {
      content: "-";
      margin-right: 5px;
      display: inline-block;
    }
  }
  @include mq(xl) {
    @include rems(19);
  }
}
