@import "~style/paradox/helpers";

.container {
  @extend %container;

  min-height: 100vh;
  position: relative;

  @include min-width(md) { min-height: $min-height; }
  &:fullscreen {
    bottom: 0;
    position: fixed;
    top: 0;
  }
}
