@import "~style/helpers";

.container {
  @extend %cf;
  border: 1px solid #ddd;
  margin: 0 auto 5%;
  width: 262px;
  z-index: 1;
  cursor: pointer;
  @include mq(xs) {
    margin: 0 1.5% 3%;
    @include cols(6);
    width: 47%;
    padding: 0;
  }
  @include mq(m) {
    width: 30%;
  }
  @include mq(xl) {
    width: 23%;
    margin: 0 1% 2%;
  }

  img { width: 100%; }
}

.content {
  padding: 0 10px 15px;
  @include mq(m) {
    padding: 0 15px 20px;
  }
  text-align: left;
}

.title {
  color: #333;
  font-weight: normal;
  @include rems(14);
  @include mq(m) {
    height: 48px; // font-size * line-height * lines to show
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    @include rems(16);
  }
}

.description {
  line-height: 1.25;
  @include rems(12);
  @include mq(m) {
    line-height: 1.35;
    height: 57px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    @include rems(14);
  }
}

.subtitle {
  @extend %cf;
  color: #333;
  font-weight: 400;
  margin-bottom: 0;
  @include rems(13);
  @include mq(m) {
    @include rems(15);
  }
}

.experience {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    display: inline-block;
    background: #ddd;
    border: 2px solid #ddd;
    padding: 5px;
    margin-right: 1px;
  }
  li.active {
    background: #27b6f1;
    border: 2px solid darken(#27b6f1, 5%);
  }
}

.education {
  margin: 0;
  @include rems(12);
  @include mq(m) {
    @include rems(14);
  }
}

.matchRate {
  width: 100%;
  height: 15px;
  background: #ddd;
  margin-top: 2px;
  span {
    display: block;
    background: #3ca94e;
    height: 15px;
  }
  span[data-match-rate^="6"], span[data-match-rate^="5"], span[data-match-rate^="4"] {
    background: #f8ea06;
  }
  span[data-match-rate^="3"], span[data-match-rate^="2"], span[data-match-rate^="1"] {
    background: #ca4c49;
  }
}

.matchRatePercent {
  font-style: normal;
  font-weight: 300;
  float: right;
  @include rems(13);
  @include mq(m) {
    @include rems(15);
  }
}
