job "traitify-widgets-{{ env "CHEF_ENV" }}" {
  datacenters = ["awse"]
  type = "batch"
# for some reason, we are not able to use this further down in the job
#meta {
#    app_name = "traitify-widgets"
#}

#constraint {
#  attribute = "${node.class}"
#  value = "orgs-stag"
#}
  constraint {
    attribute = "${meta.role}"
      value     = "fileserve"
  }
  constraint {
    attribute = "${meta.env}"
    value     = "{{ env "CHEF_ENV" }}"
  }

# set our update policy
  update {
    max_parallel     = 1
      health_check     = "task_states"
      min_healthy_time = "30s"
      healthy_deadline = "4m"
      auto_revert      = {{ env "AUTO_REVERT" }}
      #canary           = 1
      #stagger          = "30s"
  }

  group "app" {
    # set our restart policy
    restart {
      interval = "1m"
      attempts = 2
      delay    = "15s"
      mode     = "delay"
    }
    count = {{ env "COUNT" }}

    task "traitify-widgets" {
      # set this as the leader so the other tasks exit
      leader = true
      artifact {
        source = "https://jenkins-archive.traitify.com/traitify-widgets/traitify-widgets-<<< env "GIT_COMMIT" >>>.tar.gz"
        options {
          archive = false
        }
      }
      artifact {
        source = "https://jenkins-archive.traitify.com/ops_scripts/artifact-place.sh"
      }
      # our image setup
      driver = "raw_exec"
      config {
        command = "bash"
        args = [ "local/artifact-place.sh", "-p", "-d", "/opt/fileserve/js/v2", "-a", "local/traitify-widgets-<<< env "GIT_COMMIT" >>>.tar.gz" ]
      } 
      resources {
        cpu    = 100
        memory = 10
      }
    }
  }
}
