@import "~style/paradox/helpers";

// TODO: Transition for header underline => Personality Details
.container {
  @extend %container;
  @extend %shadow-box;

  margin-bottom: $buffer-section;
}
.content {
  margin: 0;
  padding: 0;

  @include min-width("lg") {
    column-count: 2;
    column-gap: $buffer * 2;
  }
  > div {
    border: $border-width solid;
    border-radius: $border-radius-sm;
    margin-bottom: $buffer;
    padding: $buffer;
    text-align: center;

    @include min-width("lg") {
      break-inside: avoid;
      display: grid;
      grid-template-rows: 1fr auto;
      margin-bottom: $buffer-lg;
    }
    @include theme("border-color", "border-color");
  }
}
.dropdown {
  @extend %dropdown;

  @include min-width("lg") { display: none; }
}
.tabs {
  @extend %tabs-lg;

  @include max-width("lg") { display: none; }
}
