@import "~style/paradox/helpers";

.container {
  @extend %container;
  @extend %icon-block;
  @extend %shadow-box;

  margin-bottom: $buffer-section;
}
.content {
  @include max-width("lg") {
    border-top: $border-width-lg solid;
    margin-top: $buffer;
    padding-top: $buffer;

    @include theme("border-top-color", "theme-color");
  }
}
.dropdown {
  @extend %dropdown;

  @include min-width("lg") { display: none; }
}
.heading {
  font-weight: bold;
  margin-bottom: $buffer-heading;
}
.tabs {
  @extend %tabs-lg;

  @include max-width("lg") { display: none; }
  button { font-size: $font-size; }
  img {
    display: block;
    margin: 0 auto;
    width: 75px;
  }
}
.tip {
  border: $border-width solid;
  border-radius: $border-radius-sm;
  padding: $buffer;

  @include buffer("margin-bottom");
  @include theme("border-color", "border-color");
}

@include colorSchemeDark() {
  .tabs img {
    border-radius: $border-radius-sm;
    margin-bottom: $buffer;

    @include theme("background-color", "text-color");
  }
}
