@import "~style/helpers";

.container {
  @extend %widgetContainer;
}
.clearfix {
  @extend %cf;
}
.detail {
  @extend %cf;
  font-weight: 400;
  color: #333;
  text-align: left;
  margin: 20px 0;
  @include mq(m) {
    @include cols(12);
    padding: 20px 20px 0 0;
  }
  @include mq(l) {
    @include cols(4);
    padding: 20px 20px 0 0;
  }
  .content {
    color: #333;
    .bar {
      width: 3px;
      height: 150px;
    }
    h4 {
      @extend %cf;
      margin: -150px 0 0 20px;
      font-weight: normal;
      text-transform: uppercase;
      @include rems(18);
      @include mq(xl) {
        @include rems(20);
      }
    }
    ul {
      margin-left: 20px;
      @include rems(18);
    }
  }
}

.detail6Columns {
  @extend .detail;
  @include mq(l) {
    @include cols(6);
    padding: 20px 20px 0 0;
  }
}
