@import "~style/helpers";

.dimension {
  @extend %widgetContainer;
  @extend %cf;
  font-weight: 400;
  color: #333;
  max-width: $breakPoint5;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 20px;
  &:last-of-type {
    margin-bottom: 0;
  }
  .triggerButton {
    text-align: center;
    @include mq(l) {
      float: right;
      position: absolute;
      top: 50px;
      right: 30px;
    }
  }
  .trigger {
    color: $black;
    background: $gray;
    display: inline-block;
    min-width: 155px;
    padding: 6px 25px;
    margin: 12px auto 0;
    text-align: center;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    @include rems(20);
    @include border-radius(5px);
  }
  .main {
    @extend %cf;
    .content {
      position: relative;
      color: #333;
      padding: 20px 20px 30px;
      @include mq(m) {
        margin-left: 170px;
        padding-top: 20px;
        padding-right: 220px;
        text-align: left;
      }
      h2 {
        margin: 10px 0 0;
        font-weight: normal;
        text-align: center;
        @include rems(26);
        @include mq(m) {
          text-align: left;
        }
        @include mq(l) {
          @include rems(28);
        }
        @include mq(xl) {
          @include rems(34);
        }
      }
      p {
        @include mq(m) {
          @include rems(17);
        }
        @include mq(l) {
          overflow: hidden;
          @include rems(18);
        }
        @include mq(xl) {
          @include rems(19);
        }
      }
    }
  }
  .side {
    clear: both;
    text-align: center;
    padding-top: 10px;
    @include mq(m) {
      float: left;
      width: 130px;
      margin: 20px 20px 0;
    }
    @include mq(l) {
      width: 160px;
      margin: 20px 60px 0 20px;
    }
    .icon {
      margin: 0;
      @include mq(m) {
        margin-bottom: 10px;
      }
    }
    .icon img {
      width: 50%;
      max-width: 220px;
      @include mq(m) {
        width: 100%;
      }
    }
  }
  .details {
    clear: both;
    margin: 0;
    .content {
      padding: 20px;
      @include mq(m) {
        padding-left: 60px;
      }
      @include mq(xl) {
        padding: 20px 240px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
      }
      @include mq(xxxl) {
        padding: 20px 320px;
      }
    }
  }
  .extendedDesc {
    border-bottom: 1px solid $black;
    h3 {
      margin: 0;
      font-weight: normal;
      @include rems(24);
    }
    p {
      @include rems(18);
    }
  }
  .detail {
    padding: 0 20px;
    @include mq(m) {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      @include rems(17);
    }
    h4 {
      margin: 0;
      line-height: 35px;
      font-weight: normal;
      @include rems(18);
      @include mq(xl) {
        @include rems(20);
      }
      &:last-of-type {
        margin-top: 20px;
      }
      &:before {
        content: " ";
        display: inline-block;
        width: 35px;
        height: 35px;
        vertical-align: bottom;
        margin-right: 10px;
      }
    }
    ul {
      padding: 10px 0;
      margin: 0 0 0 25px;
      @include mq(m) {
        padding: 10px 0 20px;
        margin-left: 65px;
      }
    }
    li {
      margin-top: 5px;
    }
    .benefits:before {
      background: url("https://cdn.traitify.com/assets/images/thumbs_up.svg") no-repeat left center;
    }
    .pitfalls:before {
      background: url("https://cdn.traitify.com/assets/images/thumbs_down.svg") no-repeat left center;
    }
  }
}
