@import "style/helpers";

.modal {
  background: rgba(0, 0, 0, 0.85);
  color: #333;
  width: 100%;
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: 100;
  transition: top 300ms ease-in-out;

  .close {
    float: right;
    cursor: pointer;
    font-size: $font-size * 1.25;
  }
}

.container {
  @extend %container;

  align-items: center;
  display: flex;
  justify-content: center;

  .modalContainer {
    border-radius: $border-radius-sm * 2.5;
    padding: $buffer * 1.25 $buffer * 1.25 $buffer-sm * 1.25;
    text-align: left;
    width: 100%;

    @include min-width(md) { max-width: 650px; }
    @include min-width(lg) { max-width: 800px; }
    @include min-width(xl) { max-width: 1000px; }
    @include theme("background", "background");
    @include theme("color", "text");
  }
  &.md .modalContainer { @include min-width(md) { max-width: 500px; } }
  &.lg .modalContainer { @include min-width(xl) { max-width: 800px; } }
  // NOTE: sm and xl modal sizes are currently unused
  // &.sm .modalContainer { @include min-width(md) { max-width: 300px; } }
  // &.xl .modalContainer { @include min-width(xl) { max-width: 1200px; } }
}

.divider { @extend %divider; }

.header {
  display: flex;
  justify-content: space-between;
}
