@import "~style/paradox/helpers";

.container {
  @extend %container;
  @extend %shadow-box;
  
  margin-bottom: $buffer * 7;

  @include min-width(lg) { min-height: $min-height; }

  .center { text-align: center; }
  .more { @include buttonLight("inactive-color"); }
}
