@import "~style/paradox/helpers";

.container {
  @extend %container;

  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }

  @include min-width(lg) {
    min-height: 520px;
    width: (9.5 / 12) * 100%;
    float: right;
    padding: 0;
  }

  .more {
    color: $-black;
    background: $-gray;
    display: inline-block;
    min-width: 155px;
    padding: $buffer-sm $buffer-lg;
    margin: 0 auto;
    text-align: center;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 22px;
    font-size: 1.375rem;
    &:hover { background: $-gray-hover; }
  }
  .center {
    text-align: center;
  }
}