@import "style/helpers";

.check {
  cursor: pointer;
  display: block;

  input {
    opacity: 0;
    width: 0;

    + span svg { @include theme("color", "inactive"); }
    &:checked + span svg { @include theme("color", "theme"); }
  }
  span:last-of-type { margin-left: $buffer-sm; }
}
.center { text-align: center; }
.container {
  @extend %container;
  @extend %shadow-box;

  margin-bottom: $buffer-lg;

  .label {
    display: block;
    margin-bottom: $buffer-sm;

    @include min-width(lg) { text-transform: uppercase; }
  }
  .location {
    display: none;

    @include min-width(md) { display: block; }
  }
  .location, .search {
    @include min-width(lg) { margin-bottom: $buffer; }
  }
  .row {
    display: flex;
    gap: $buffer;

    @include min-width(lg) { display: block; }
    > * { flex: 1; }
  }
}
.field {
  appearance: none;
  background: url("https://cdn.traitify.com/assets/images/js/filter-search.png") no-repeat 10px center;
  background-size: $font-size;
  border: $border-width solid;
  border-radius: $border-radius-sm;
  display: block;
  padding: $buffer * 0.75 $buffer;
  text-indent: $font-size + $buffer-sm;
  width: 100%;

  @include theme("border-color", "border");
  @include theme("color", "text");
}
.searchField {
  @extend .field;
  @include min-width(lg) { display: none; }
}
.searchFieldLG {
  @extend .field;
  display: none;
  @include min-width(lg) { display: block; } 
}
.filter {
  position: relative;

  .filterButton {
    background: url("https://cdn.traitify.com/assets/images/js/filter-select.png") no-repeat 95% 50%;
    background-size: $font-size;
    border: $border-width solid;
    border-radius: $border-radius-sm;
    display: block;
    height: 42px;
    margin: 0;
    padding: $buffer-sm $buffer;
    width: 100%;

    @include min-width(lg) { display: none; }
    @include theme("border-color", "border");
  }
  .filterContent {
    border: $border-width solid;
    display: none;
    font-size: $font-size-sm;
    left: 0;
    margin: 0;
    padding: $buffer;
    position: absolute;
    right: 0;
    z-index: 1;

    @include min-width(lg) {
      border: none;
      display: block;
      font-size: $font-size;
      padding: 0;
      position: initial;
      z-index: initial;
    }
    @include theme("background", "background");
    @include theme("border-color", "border");

    &.block { display: block; }
    .group {
      margin-bottom: $buffer;

      @include min-width(lg) {
        text-transform: capitalize;
        white-space: nowrap;
      }
    }
    button {
      border: $border-width solid;
      border-radius: $border-radius-sm;
      display: block;
      font-size: $font-size;
      margin: auto 0;
      padding: $buffer-sm $buffer;
      width: 100%;

      @include theme("border-color", "border");
      @include theme("color", "text");
      @include min-width(lg) { margin: 0; }
    }
  }
  .label {
    @include min-width(lg) { display: none; }
  }
}
