.cover {
  background-color: #e6e6e6;
  height: 100%;
  position: absolute;
  text-align: center;
  transition: visibility .3s, opacity .3s;
  width: 100%;
  z-index: 10;
}
.label {
  margin-top: -1.5em;
  position: absolute;
  text-align: center;
  width: 100%;
}
.link {
  position: relative;
  z-index: 1;
}
.loadingContainer {
  display: inline-block;
  line-height: 500px;
  position: relative;
  width: 100%;
}
.retry {
  margin-top: 1em;
  position: relative;
  text-align: center;
}
