@import "style/helpers";

.type {
  @extend %widgetContainer;
  @extend %cf;
  font-weight: 400;
  color: #333;
  max-width: $breakPoint5;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 20px;
  &:last-of-type {
    margin-bottom: 0;
  }
  .main {
    @extend %cf;
    .content {
      color: #333;
      padding: 0 20px 10px;
      h2 {
        @extend %cf;
        margin: 10px 0 0;
        font-weight: normal;
        @include rems(24);
        @include mq(xl) {
          @include rems(28);
        }
      }
      .score {
        float: right;
      }
    }
  }
}
