@import "~style/helpers";
@import "~style/variables";

.results {
  @extend %widgetContainer;

  padding: 0 20px;
  text-align: center;
  @include rems(18);
  img {
    margin: 0 auto;
    width: 75%;
    max-width: 300px;
  }
  h1 {
    color: #3B8DBF;
    margin-top: 0;
    @include rems(26);
  }
  .learn {
    @include rems(15);
  }
  a, a:visited {
    color: #3B8DBF;
    text-decoration: none;
  }
}
