@import "style/variables.scss";

$blue: $-blue;
$blue-light: #E6F3F8;
$green: #47BB55;
$green-light: #DCF3Df;

$low: #4FE0C4;
$low-medium: #25C4EF;
$medium: #4D85D6;
$medium-high: #8B44E2;
$high: #B65DDB;
