@import "~style/helpers";

.chart {
  font-weight: 400;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: $white;
  font: 100%/1.5 "Source Sans Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
  color: #333;


  display: table;
  table-layout: fixed;
  height: 300px;
  margin: 0 auto 190px;
  @include mq(m) {
    height: 400px;
  }
  @include mq(xl) {
    height: 640px;
  }
}
