@import "~style/helpers";

body {
  font: 100%/1.5 "Source Sans Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
  font-weight: 400;
  color: #333;
}

.chart {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 300px;
  margin: 0 auto 250px;
  padding: 0;
  @include mq(m) {
    height: 400px;
  }
  @include mq(xl) {
    height: 640px;
  }
}
