@import "~style/helpers";

.radar {
  @extend %widgetContainer;

  padding: 20px 0px;
  text-align: center;
  .radarContainer{
    width: 100% !important;
    height: auto;
    max-width: 500px;
    margin: 0px auto;
  }
}
