@import "./variables.scss";
@import "./mixins.scss";

:global {
  .widgetContainer {
    color: #333;
    font: 100%/1.5 "Open Sans", "Source Sans Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    width: 100%;
    &, * { box-sizing: border-box; }
    button {
      border: none;
      border-radius: 0;
      cursor: pointer;
      font-family: "Open Sans", "Source Sans Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
    }
  }
}
