@import "./mixins/tabs.scss";

@mixin heading() {
  font-size: $font-size-heading;
  font-weight: 600;
}

@mixin buffer($prop) {
  #{$prop}: $buffer;

  @include min-width("lg") { #{$prop}: $buffer-lg; }
}

@mixin max-width($name) {
  $value: map-get($breakpoints, $name);

  @media(max-width: $value) { @content; }
}

@mixin min-width($name) {
  $value: map-get($breakpoints, $name);

  @media(min-width: $value) { @content; }
}

@mixin theme($prop, $name) {
  #{$prop}: map-get($theme-variables, $name);
  #{$prop}: var(--private-traitify-#{$name});
}
