@import "./mixins/tabs.scss";

@mixin heading() {
  font-size: $font-size-heading;
  font-weight: 600;
}

@mixin buffer($property) {
  #{$property}: $buffer;

  @include min-width("lg") { #{$property}: $buffer-lg; }
}

@mixin max-width($name) {
  $value: map-get($breakpoints, $name);

  @media(max-width: $value) { @content; }
}

@mixin min-width($name) {
  $value: map-get($breakpoints, $name);

  @media(min-width: $value) { @content; }
}
