$breakpoint-xl: 71.25em; // 1140px
$breakpoint-lg: 60em; // 960px
$breakpoint-md: 48em; // 768px
$breakpoint-sm: 35.5em; // 568px
$breakpoint-xs: 30em; // 480px
$breakpoints: (
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl
);

// Colors
$black: #555555;
$blue: #25C9D0;
$gray: #D6D6D6;
$white: #FFFFFF;

// Other - Paradox likes multiples of 8
$border-radius: 16px;
$border: $gray;
$buffer: 16px; // Default padding/margin
$buffer-lg: 24px;
$buffer-heading: $buffer * 2;
$buffer-section: $buffer * 3;
$font-size: 16px;
$font-size-heading: 20px;
$min-height: 600px;

// TODO: Transition for header underline => Personality Details
