@import "~style/paradox/helpers";

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.container {
  @extend %container;

  margin-bottom: $buffer-section;

  &.combined { margin-bottom: 0; }
}
.content {
  @extend %box;

  .divider {
    border-top: $border-width solid;

    @include buffer("margin-bottom");
    @include theme("border-top-color", "border-color");
  }
  .heading {
    @include max-width("lg") {
      &.high, &.low, &.medium, &.other {
        text-decoration: underline;
        text-decoration-thickness: $border-width-lg;
        text-underline-offset: $buffer * 0.5;
      }
      &.high { @include theme("text-decoration-color", "rank-high"); }
      &.low { @include theme("text-decoration-color", "rank-low"); }
      &.medium { @include theme("text-decoration-color", "rank-medium"); }
      &.other { @include theme("text-decoration-color", "rank-other"); }
    }
  }
  .readMore {
    padding: 0;
    text-decoration: underline;

    @include theme("color", "theme-color");
  }
  li { margin-top: $buffer * 0.5; }
  ul {
    margin: 0;
    padding-left: $buffer-lg;
  }
}
.dropdown {
  @extend %dropdown;

  @include min-width("lg") { display: none; }
}
.expandedIntro { animation: fade-in 1s; }
.heading {
  font-weight: bold;
  margin-bottom: $buffer-heading;
}
.p { @extend %paragraph; }
.question {
  @extend %box;

  padding-top: $buffer-sm;
  position: relative;

  @include buffer("margin-bottom");
  &:last-of-type { margin-bottom: 0; }
  .arrow {
    align-self: flex-start;
    border: $border-width solid;
    border-radius: $border-radius-sm;
    padding: $buffer * 0.5;

    @include theme("border-color", "border-color");
    @include theme("color", "text-color");

    svg { display: block; }
  }
  .divider {
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
  }
  .h2 {
    font-weight: bold;

    @include buffer("margin-top");
  }
  .list { flex: 1; }
  .number {
    font-weight: bold;
    margin-bottom: $buffer-sm;
  }
  .prompt {
    display: flex;
    justify-content: space-between;
    margin-top: $buffer;
    width: 100%;
  }
  .questionContent {
    @include buffer("gap");
    @include min-width("lg") { display: flex; }
  }
  .text {
    flex-grow: 1;
    font-weight: bold;
    margin-right: $buffer;

    @include theme("color", "theme-color");
  }
  button {
    display: block;
    width: 100%;
  }
}
.tabs {
  display: flex;
  justify-content: center;
  padding-left: $buffer * 4;
  padding-right: $buffer * 4;

  @include activeTab($active: ".active", $circle: "span", $square: "&");
  @include max-width("lg") { display: none; }
  .active {
    &.high span { @include theme("border-bottom-color", "rank-high"); }
    &.low span { @include theme("border-bottom-color", "rank-low"); }
    &.medium span { @include theme("border-bottom-color", "rank-medium"); }
    &.other span { @include theme("border-bottom-color", "rank-other"); }

    span { border-bottom: $border-width solid; }
  }
  button {
    flex: 0 1 auto;
    max-width: 200px;
    padding-bottom: 0;
    padding-left: $buffer-lg;
    padding-right: $buffer-lg;
    padding-top: $buffer;
    text-align: center;
    width: 100%;

    span {
      display: block;
      padding-bottom: $buffer;
      text-align: center;

      @include min-width("xl") {
        margin: auto;
        max-width: 70%; // Forces text on 2 lines
      }
    }
  }
}
