@import "./mixins/tabs.scss";
@import "./mixins/private.scss";

@mixin buffer($prop) {
  #{$prop}: $buffer;

  @include min-width("lg") { #{$prop}: $buffer-lg; }
}

@mixin button() {
  border-radius: $border-radius-sm;
  padding: $buffer * 0.5 $buffer;
  text-decoration: none;
}

@mixin buttonDark($color) {
  @include button();
  @include theme("color", "text-light");
  @include theme("background", $color);

  &:hover, &:visited {
    @include theme("color", "text-light");
  }
}

@mixin buttonLight($color) {
  @include button();
  @include theme("color", "text");
  @include theme("background", $color);

  &:hover, &:visited {
    @include theme("color", "text");
  }
}

@mixin clamp($lines) {
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
}

// Currently requires an unscoped context
@mixin colorSchemeDark() {
  :global(.traitify--color-scheme-auto) {
    @media(prefers-color-scheme: dark) { @content; }
  }
  :global(.traitify--color-scheme-dark) { @content; }
}

@mixin heading() {
  font-size: $font-size-heading;
  font-weight: 600;
}

@mixin max-width($name) {
  $value: map-get($breakpoints, $name);

  @media(max-width: $value) { @content; }
}

@mixin min-width($name) {
  $value: map-get($breakpoints, $name);

  @media(min-width: $value) { @content; }
}

@mixin theme($prop, $name) {
  #{$prop}: map-get($color-scheme-default, $name);
  #{$prop}: var(--private-traitify-#{$name});
}
