$font-size: 16;
$columns: 12;
$gutter: 40px;
$breakPoint1: 18.75em;
$breakPoint2: 48em;
$breakPoint3: 60em;
$breakPoint4: 71.25em;
$breakPoint5: 90em;
$minHeight: 600px;

$black: #000;
$white: #fff;
$gray: #d6d6d6;
$gray-hover: #eaeaea;
$border: #d6d6d6;

$blue: #2491c1;
$low: #4fe0c4;
$lowmed: #25c4ef;
$med: #4d85d6;
$medhigh: #8b44e2;
$high: #b65ddb;

$lightblue: #e6f3f8;
$lightgreen: #dcf3df;
$green: #47bb55;
