$breakpoint-4xl: 3200px;
$breakpoint-3xl: 2560px;
$breakpoint-2xl: 1920px;
$breakpoint-xl: 1280px;
$breakpoint-lg: 960px; // 60em
$breakpoint-md: 768px; // 48em
$breakpoint-sm: 568px; // 35.5em
$breakpoint-xs: 480px; // 30em
$breakpoints: (
  "xs": $breakpoint-xs,
  "sm": $breakpoint-sm,
  "md": $breakpoint-md,
  "lg": $breakpoint-lg,
  "xl": $breakpoint-xl,
  "2xl": $breakpoint-2xl,
  "3xl": $breakpoint-3xl,
  "4xl": $breakpoint-4xl
);

// Paradox likes multiples of 8
$border-radius: 16px;
$border-radius-sm: 8px;
$border-width: 1px;
$border-width-lg: 3px;
$border-width-xl: 5px;
$buffer: 16px; // Default padding/margin
$buffer-sm: 8px;
$buffer-lg: 24px;
$buffer-heading: $buffer;
$buffer-section: $buffer * 2;
$font-size: 16px;
$font-size-sm: 12px;
$font-size-lg: 20px;
$font-size-heading: 24px;
$line-height: 1.5;
$min-height: 750px;

// Private - To be used through color scheme
$-aquamarine: #3BCEAC;
$-aquamarine-light: #89E2CD;
$-black: #555555;
$-blue: #25C9D0;
$-gray: #D6D6D6;
$-gray-dark: #A0A0A0;
$-gray-hover: #EAEAEA;
$-green: #2FB656;
$-red: #FE6D73;
$-red-light: #FEA7AB;
$-traitify-blue: #058FC4;
$-traitify-blue-dark: #0376A2;
$-traitify-red: #CB4E4E;
$-traitify-red-dark: #9A3B3B;
$-white: #FFFFFF;
$-white-gray: #F5F5F5;
$-yellow: #F9BC4F;
$-yellow-light: #FBD288;

$-border-color: $-gray;
$-secondary-color: $-gray-dark;
$-theme-color: $-blue;

// Add variables that may change with the color scheme
$color-scheme-dark: (
  "background": $-black,
  "background-light": $-gray-dark,
  "border": $-border-color,
  "border-dark": $-black,
  "border-light": $-white,
  "cognitive-progress-bar": $-green,
  "fullscreen": $-black,
  "inactive": $-gray,
  "me-active": $-traitify-blue-dark,
  "me": $-traitify-blue,
  "not-me-active": $-traitify-red-dark,
  "not-me": $-traitify-red,
  "progress-bar": $-theme-color,
  "rank-high": $-aquamarine,
  "rank-high-light": $-aquamarine-light,
  "rank-low": $-red,
  "rank-low-light": $-red-light,
  "rank-medium": $-yellow,
  "rank-medium-light": $-yellow-light,
  "rank-other": $-white,
  "rank-other-light": $-gray,
  "secondary": $-secondary-color,
  "text": $-white,
  "text-light": $-white,
  "theme": $-theme-color
);

$color-scheme-light: (
  "background": $-white,
  "background-light": $-white-gray,
  "border": $-border-color,
  "border-dark": $-black,
  "border-light": $-gray,
  "cognitive-progress-bar": $-green,
  "fullscreen": $-black,
  "inactive": $-gray,
  "me-active": $-traitify-blue-dark,
  "me": $-traitify-blue,
  "not-me-active": $-traitify-red-dark,
  "not-me": $-traitify-red,
  "progress-bar": $-theme-color,
  "rank-high": $-aquamarine,
  "rank-high-light": $-aquamarine-light,
  "rank-low": $-red,
  "rank-low-light": $-red-light,
  "rank-medium": $-yellow,
  "rank-medium-light": $-yellow-light,
  "rank-other": $-black,
  "rank-other-light": $-black,
  "secondary": $-secondary-color,
  "text": $-black,
  "text-light": $-white,
  "theme": $-theme-color
);
$color-scheme-default: $color-scheme-light;
