@import "style/helpers";

.applyNowButton {
  border: $border-width solid;
  border-radius: $border-radius-sm;
  display: block;
  margin-top: $buffer-sm;
  padding: $buffer-sm $buffer;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  @include theme("border-color", "border");
  @include theme("color", "theme");
}
.discoverJobsButton { @extend .applyNowButton; }
.container {
  border: $border-width solid;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  height: 170px;
  justify-content: space-between;
  margin: auto;
  padding: $buffer;
  width: 180px;

  @include theme("border-color", "border-light");

  &.empty {
    height: auto;
    width: 250px;
  }
  .icon {
    margin-right: $buffer-sm;

    @include theme("color", "inactive");
  }
}
.title {
  @include clamp(1);
  font-weight: 500;
  font-size: $font-size;
}
.company {
  @include clamp(1);
  margin-top: $buffer-sm * .25;
  font-size: $font-size-sm * 1.17
}
.location {
  @include clamp(1);
  margin-top: $buffer-sm;
  font-size: $font-size-sm
};
