@import "~style/helpers";

.type {
  @extend %widgetContainer;
  margin: 0 auto 20px;
  text-align: center;
}
.name {
  font-weight: normal;
  margin-bottom: 0;
  @include rems(20);
  @include mq(m) {
    @include rems(24);
  }
  @include mq(xl) {
    @include rems(28);
  }
  @include mq(xxl) {
    @include rems(32);
  }
}
.description {
  margin-bottom: 80px;
  @include rems(15);
  @include mq(m) {
    width: 70%;
    margin: 16px auto 0;
    @include rems(17);
  }
  @include mq(xl) {
    width: 60%;
    @include rems(20);
  }
  @include mq(xxl) {
    width: 50%;
    @include rems(22);
  }
}
