@import "style/helpers";

.assessment {
  align-items: center;
  border: $border-width solid;
  border-radius: $border-radius-sm;
  display: flex;
  justify-content: space-between;
  margin-top: $buffer;
  padding: $buffer-sm;
  padding-left: $buffer;

  @include theme("border-color", "border");

  a, button {
    text-align: center;

    @include buttonDark("theme");
    @include min-width("sm") { min-width: 175px; }
  }
}
.bold { font-weight: bold; }
.container {
  @extend %container;

  margin-left: auto;
  margin-right: auto;
  max-width: $breakpoint-sm;
  padding: $buffer-lg;

  .retry {
    display: block;
    margin: 0 auto;
    text-align: center;

    @include buttonDark("theme");
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    width: 100%;
  }
}
.header {
  @extend %heading;

  display: flex;
  justify-content: space-between;
  text-align: center;

  @include min-width("sm") {
    .helpSpacer {
      content: "";
      width: $font-size-heading + $buffer-sm;
    }
  }

  > div { flex: 1; }
}
.icon {
  margin-right: $buffer-sm;

  @include theme("color", "theme");
}
.inactive {
  .text { @include theme("color", "inactive"); }
  button {
    cursor: default;
    opacity: 0.5;
  }
}
.p {
  @extend %paragraph;

  margin-bottom: $buffer-section;
  text-align: center;
}
.spacer {
  height: 200px;
}
