@import "style/helpers";

.container {
  @extend %container;
  @extend %shadow-box;

  margin-bottom: $buffer-section;

  .toggle {
    display: block;
    margin: 0 auto;

    @include buttonDark("theme-color");
  }
}
.p { @extend %paragraph; }
