@import "../../style/helpers";
@import "../../style/variables";

.widgetContainer{
  @extend %widgetContainer;

  position: relative;
  min-height: $minHeight;

  &:fullscreen {
    position: fixed;
    top: 0;
    bottom: 0;
  }
}
