@import "../../style/helpers";
@import "../../style/variables";

.widgetContainer{
  @extend %widgetContainer;

  position: relative;
  min-height: 100vh;
  @include mq(m) {
    min-height: $minHeight;
  }

  &:fullscreen {
    position: fixed;
    top: 0;
    bottom: 0;
  }
}
