@import "~style/helpers";

.slider {
  @extend %widgetContainer;

  position: relative;
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
  }
}
.back, .next {
  position: absolute;
  top: 80px;
  width: 30px;
  @include mq(m) {
    top: 50px;
  }
  @include mq(xl) {
    top: 55px;
  }
  @include mq(xxl) {
    top: 40px;
    width: 50px;
  }
  @include mq(xxxl) {
    top: 25px;
  }
  img {
    width: 100%;
    border: 0;
  }
}
.back {
  left: 0;
  @include mq(m) {
    left: 10px;
  }
  @include mq(xxl) {
    left: 15px;
  }
}
.next {
  right: 0;
  @include mq(m) {
    right: 10px;
  }
  @include mq(xxl) {
    right: 15px;
  }
}
