@import "~style/helpers";

.slider {
  position: relative;
  height: 200px;
  font: 100%/1.5 "Source Sans Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
  font-weight: 400;
  color: #333;
  background: $white;
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
