@import "~style/helpers";

.slider {
  position: relative;
  font: 100%/1.5 "Source Sans Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
  font-weight: 400;
  color: #333;
  background: $white;
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
  }
}
.back, .next {
  position: absolute;
  top: 30px;
  width: 30px;
  img { width: 100%; }
}
.back { left: 0; }
.next { right: 0; }

@include mq(m) {
  .back { left: 20px; }
  .next { right: 20px; }
}
@include mq(xxl) {
  .back, .next { width: 50px; }
}
