.container {
  line-height: 500px;
  text-align: center;
}

.loading {
  display: inline-block;
  height: 30px;
  margin: 0px auto;
  position: relative;
  width: 30px;

  div {
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    margin-left: -15px;
    position: absolute;
    width: 30px;

    &:nth-child(1) {
      animation: loading1 1s linear infinite;
      background: #cb4e4e;
      transform: translate(-50px, 0);
    }
    &:nth-child(2) {
      animation: loading2 1s linear infinite;
      background: #058fc4;
      transform: translate(50px, 0);
    }
  }
}

@keyframes loading1 {
  25% { z-index: 2; }
  50% { transform: translate(50px, 0) scale(1); }
  75% { transform: translate(0, 0) scale(0.75); }
  100% { transform: translate(-50px, 0) scale(1); }
}
@keyframes loading2 {
  25% { transform:translate(0,0) scale(0.75); }
  50% { transform:translate(-50px,0) scale(1); }
  75% { z-index: 2; }
  100% { transform:translate(50px,0) scale(1); }
}
