@import "~style/helpers";

.container {
  display: table-cell;
  padding: 60px 10px 30px 10px;
  position: relative;
  text-align: center;
  .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 5px;
    @include border-radius(50%);
    @include mq(m) {
      width: 120px;
      height: 120px;
      padding: 15px;
    }
    @include mq(xl) {
      width: 140px;
      height: 140px;
      padding: 25px;
    }
    img {
      width: 100%;
    }
  }
  h2, h3 {
    font-weight: normal;
  }
  h2 {
    margin: 0;
    @include rems(18);
    @include mq(m) {
      @include rems(33);
    }
    @include mq(xl) {
      @include rems(36);
    }
  }
  h3 {
    text-align: right;
    transform: rotate(-75deg);
    margin-bottom: 0;
    position: relative;
    width: 200px;
    left: -90px;
    top: 180px;
    @include rems(20);
    @include mq(m) {
      left: -60px;
      top: 210px;
      @include rems(24);
    }
    @include mq(xl) {
      transform: rotate(0deg);
      top: 0;
      left: 0;
      width: auto;
      text-align: center;
      @include rems(24);
    }
    @include mq(xxl) {
      @include rems(28);
    }
  }
}
.background {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  z-index: -1;
  &.low { top: 50%; }
  &.medium { top: 25%; }
  &.high { top: 0; }
}
