@import "~style/helpers";

.slide {
  padding: 20px 40px;
  @include rems(15);
  @include border-radius(5px);
  @include mq(m) {
    padding: 20px 60px;
    min-height: 168px;
    @include rems(17);
  }
  @include mq(l) {
    min-height: 145px;
  }
  @include mq(xl) {
    min-height: 170px;
    @include rems(19);
  }
  @include mq(xxl) {
    min-height: 182px;
  }
  @include mq(xxxl) {
    min-height: 148px;
  }
  @include mq(xxl) {
    padding: 20px 80px;
  }
}
.title {
  margin-right: 5px;
  font-weight: bold;
  @include rems(18);
  @include mq(m) { @include rems(19); }
  @include mq(xl) { @include rems(24); }
}
