@import "style/helpers";

.container {
  @extend %container;
  @extend %box;

  margin: 0 auto;
  max-width: 800px;
  width: 100%;

  .btnBack {
    @include buttonOutline();

    .icon { margin-right: $buffer-sm; }
  }
  .btnDisabled { @include buttonDark("inactive"); }
  .btnGroup {
    display: flex;
    justify-content: space-between;
    margin: $buffer-sm auto;
  }
  .btnTheme { @include buttonDark("theme"); }
  .progress {
    border-radius: $border-radius-sm;
    height: 100%;
    transition: width 0.3s;
    width: 0%;

    @include theme("background-color", "progress-bar");
  }
  .progressBar {
    border-radius: $border-radius-sm;
    height: $border-width-xl;
    margin-bottom: $buffer-lg;

    @include theme("background-color", "border");
  }
}

.choices {
  display: flex;
  gap: $buffer;
  margin: $buffer 0;

  @include max-width("xs") { flex-direction: column; }

  &.wide { flex-direction: column; }
  .choice {
    border: $border-width solid;
    border-radius: $border-radius-sm;
    flex: 1;
    padding: $buffer;
    text-align: center;

    @include theme("border-color", "border");
    @include theme("color", "text");

    &.active, &:active, &:hover {
      @include theme("background-color", "theme");
      @include theme("color", "text-light");
    }
    &:focus {
      outline-offset: -1px;
      outline-style: solid;
      outline-width: 1px;
    }
  }
}
.divider { @extend %divider; }

.question {
  .text { font-weight: 600;}
}

.questionSet {
  img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
}
