@import "../variables";

.slide{
  min-height: $minHeight;
  position: absolute;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
  &.invisible{
    left: 0%;
    display: none !important;
  }
  &.left{ left: 0%; }
  &.middle{
    transition: left .3s;
    left: 0%;
  }
  &.right{ left: 100%; }
}
