@import "../variables";

.slide{
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: $minHeight;
  &.invisible{
    left: 0%;
    display: none !important;
  }
  &.leftSlide{
    left: 0%;
  }
  &.middleSlide{
    -webkit-transition: left .3s; /* Safari */
    transition: left .3s;
    left: 0%;
  }
  &.rightSlide{
    left: 100%;
  }
  &.slideIE{
    overflow: hidden;
    img{
      position:absolute;
      width: 100%;
    }
  }
  background-size: cover;
}
