@import "~style/helpers";

.complements, .conflicts, .environment {
  border-top: 1px solid $border;
  @include cols(12);
  @include mq(m) {
    border-bottom: 1px solid $border;
    @include cols(6);
  }
  h4 {
    margin-bottom: 0;
  }
  p, li {
    @include rems(15);
    @include mq(m) {
      padding-bottom: 16px;
      @include rems(17);
    }
    @include mq(xl) {
      @include rems(18);
    }
  }
  li {
    @include mq(m) {
      padding-bottom: 8px;
    }
  }
  ul {
    padding-left: 20px;
  }
}
.conflicts {
  @include mq(m) {
    border-left: 1px solid $border;
  }
}
.environment {
  @include mq(m) {
    border: 0;
    @include push(3);
  }
  @include mq(xl) {
    @include push(4);
  }
}
