@import "~style/helpers";

.details {
  @extend %cf;
}
.complements, .conflicts, .environment {
  font-weight: 400;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: $white;
  font: 100%/1.5 "Source Sans Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
  color: #333;
  
  border-top: 1px solid $border;
  @include cols(12);
  @include mq(m) {
    @include cols(6);
  }
  h4 {
    font-weight: normal;
    margin-bottom: 0;
    @include rems(17);
    @include mq(m) {
      @include rems(19);
    }
    @include mq(xxl) {
      @include rems(21);
    }
  }
  p, li {
    @include rems(15);
    @include mq(m) {
      padding-bottom: 16px;
      @include rems(17);
    }
    @include mq(xl) {
      @include rems(18);
    }
    @include mq(xxl) {
      @include rems(19);
    }
  }
  li {
    @include mq(m) {
      padding-bottom: 8px;
    }
  }
  ul {
    padding-left: 20px;
  }
}
.complements {
  @include mq(m) {
    border-right: 1px solid $border;
  }
}
.environment {
  @include mq(m) {
    clear: both;
    border-top: 1px solid $border;
    @include cols(12);
  }
  h4, ul {
    @include mq(m) {
      width: 50%;
      margin: 20px 0 20px 35%;
    }
  }
}
