@import "./variables";

.widgetContainer{
  height: 100%;
  width: 100%;
  position: relative;
  font: 100%/1.5 "Source Sans Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
  font-weight: 400;

  .fullScreen{
    .fullScreenBorder{
      border: 2px dashed #fff;
      width:100%;
      height: 100%;
    }
    width: 30px;
    height: 25px;
    position: absolute;
    z-index: 3;
    right: 30px;
    bottom: 30px;
    background-color: rgba(0,0,0, .8);
    cursor: pointer;
  }
  .cover{
    &.visible{
      opacity: 1;
      visibility: visible;
    }
    -webkit-transition: visibility .3s, opacity .3s; /* Safari */
    transition: visibility .3s, opacity .3s;
    visibility: hidden;

    opacity: 0;
    position: absolute;
    z-index: 10;
    background-color: #e6e6e6;
    width: 100%;
    height: 100%;
    text-align:center;
    .loading{
      position: relative;
      width: 100%;
      display: inline-block;
      line-height: 500px;
      .symbol{
        position: relative;
        width: 30px;
        height: 30px;
        margin:0px auto;
        display: inline-block;
        i{
          margin-left: -15px;
          width: 30px;
          height: 30px;
          display: inline-block;
          background: #cb4e4e;
          border-radius: 50%;
          position: absolute;
          &:nth-child(1){
            -webkit-transform:translate(-50px,0);
            -webkit-animation:loading-ani1 1s linear infinite;
            animation:loading-ani1 1s linear infinite;
          }
          &:nth-child(2){
            background: #058fc4;
            -webkit-transform:translate(50px,0);
            -webkit-animation:loading-ani2 1s linear infinite;
            animation:loading-ani2 1s linear infinite;
          }
        }
      }
    }
  }
  .responseContainer{
    z-index: 1;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    .buttons, .progressContainer{
      margin: 0px auto;
      width: 300px;
      margin-bottom: 10px;
    }
    .buttons{
      letter-spacing: 2px;
      font-size: 24px;
      color: #fff;
      overflow: hidden;
      height: 57px;
      line-height: 57px;
      border-radius: 3px;
      .me, .notMe{
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #fff;
        text-decoration: none;
        position: relative;
        display: inline-block;
        width:50%;
        padding: 0px;
      }
      .me{
        background-color: $meColor;
        &:active{
          background-color: $mePressedColor;
        }
      }

      .notMe{
        background-color: $notMeColor;
        &:active{
          background-color: $notMePressedColor;
        }
      }
    }
  }

  .slideContainer{
    position: relative;
    height: 100%;
    overflow: hidden;
    .captionContainer{
      width: 100%;
      height: 50px;
      text-align: center;
      font-size: 25px;
      color: #fff;
      position: absolute;
      top: 0px;
      z-index: 1;
      background-color: $captionBackground;
      .progress{
        -webkit-transition: width .3s; /* Safari */
        transition: width .3s;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0%;
        height: 100%;
        background-color: $progressBar;
      }
      .caption{
        text-align: center;
        width: 100%;
        position: absolute;
        z-index: 1;
        line-height: 50px;
      }
    }
  }
}
@keyframes loading-ani1{
  25%{
    z-index: 2;
  }
  50%{
    transform:translate(50px,0) scale(1);
  }
  75%{
    transform:translate(0,0) scale(0.75);
  }
  100%{
    transform:translate(-50px,0) scale(1);

  }
}
@-webkit-keyframes loading-ani1{
  25%{
    z-index: 2;
  }
  50%{
    -webkit-transform:translate(50px,0) scale(1);
  }
  75%{
    -webkit-transform:translate(0,0) scale(0.75);
  }
  100%{
    -webkit-transform:translate(-50px,0) scale(1);
  }
}
@keyframes loading-ani2{
  25%{
    transform:translate(0,0) scale(0.75);
  }
  50%{
    transform:translate(-50px,0) scale(1);
  }
  75%{
    z-index: 2;
  }
  100%{
   	transform:translate(50px,0) scale(1);
  }
}

@-webkit-keyframes loading-ani2{
  25%{
    -webkit-transform:translate(0,0) scale(0.75);
  }
  50%{
    -webkit-transform:translate(-50px,0) scale(1);
  }
  75%{
    z-index: 2;
  }
  100%{
   	-webkit-transform:translate(50px,0) scale(1);
  }
}
