@import "style/helpers";

.container {
  @extend %container;

  border: $border-width solid;
  border-radius: $border-radius;
  margin-bottom: $buffer;
  padding: $buffer;

  @include theme("border-color","border-light");
}

.details {
  align-items: flex-start;
  display: flex;
  gap: $buffer;

  img {
    border-radius: $border-radius;
    height: auto;
    width: 100px;
  }
  > div {
    display: flex;
    gap: $buffer-sm;
    flex-direction: column;
    min-width: 0; // NOTE: Allows title to use text-overflow
  }
  .description {
    font-size: $font-size-sm;
    -webkit-line-clamp: 3;
  }
  .title {
    font-weight: 500;
    -webkit-line-clamp: 1;
  }
  .description, .title {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }
}

.divider {
  border: $border-width solid;
  margin: $buffer 0;

  @include theme("border-color","border-light");
}

.grid {
  display: grid;
  gap: $buffer;
  grid-template-columns: repeat(2, 1fr);

  @include min-width("md") {
    display: flex;
    justify-content: space-between;
  }

  .detail {
    display: flex;
    gap: $buffer-sm;
    flex-direction: column;
    font-size: $font-size-sm;

    @include min-width("md") { font-size: $font-size; }
  }
  .learnMore {
    align-self: center;
    text-align: center;

    button {
      border-radius: $border-radius-sm;
      padding: $buffer-sm;

      @include min-width("md") { padding: $buffer; }
      @include theme("color", "text-light");
      @include theme("background-color", "theme");
    }
  }
  .subtitle {
    font-weight: bold;
    font-size: $font-size-sm;

    @include min-width("md") { font-size: $font-size; }
  }
}

.experience {
  text-align: center;

  @include min-width("md") { text-align: left; }

  .level {
    display: inline-block;
    border-radius: 50%;
    height: $font-size;
    margin-right: $buffer-sm * 0.25;
    width: $font-size;

    @include theme("background-color", "inactive");
    @include theme("border-color", "inactive");

    &.active {
      @include theme("background-color", "theme");
      @include theme("border-color", "theme");
    }
  }
}

.match {
  @include min-width("md") { width: 20%; }

  .matchText {
    display: flex;
    justify-content: space-between;
  }

  .matchRate {
    border-radius: $border-radius-sm;
    height: $font-size;

    @include theme("background-color", "inactive");

    span {
      background: #89e2cd;
      border-radius: $border-radius-sm;
      display: block;
      height: $font-size;
    }
    span[data-match-rate^="6"], span[data-match-rate^="5"], span[data-match-rate^="4"] {
      background: #fbd288;
    }
    span[data-match-rate^="3"], span[data-match-rate^="2"], span[data-match-rate^="1"] {
      background: #fda7ab;
    }
  }
}
