/* .parent {
    width: 800px;
    position: relative;
} */

.parent {
  display: table;
}

.child1 {
  display: table-cell;
  padding-right: 20px;
  border-right: 1px solid gray;
}

.child2 {
    /* width: 200px;
    float: left; */
    /* border-left: 1px solid gray; */
    display: table-cell;
    padding-left: 20px;
    /* margin-left: -1px; */
}

.clear {
  clear: both;
}