<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Traitify Widgets</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
</head>
<script src='/taco.js'></script>
<script>
  Traitify.setPublicKey("sptoechv411aqbqrp4l9a4eg2a")
  Traitify.post("/assessments", {deck_id: "career-deck"}).then(function(assessment){
    window.developmentLoad = Traitify
      .ui
      .assessmentId(assessment.id)
      .allowFullScreen(true)
      .target("#widgets").render()
  })
</script>
<body>
  <div id="widgets">
  </div>
</body>
</html>
