@import "~style/paradox/helpers";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 30px;

  .club {
    padding-bottom: 15px;

    .title {
      font-weight: 500;
      padding-bottom: 5px;

      @include rems(16);
    }
    .description {
      @include rems(14);
    }
  }
}