@import "~style/helpers";

.traits {
  @extend %widgetContainer;
  font-weight: 400;
  color: #333;
  background: $white;
  margin-bottom: 40px;
}
.title {
  @extend %cf;
  font-weight: normal;
  text-transform: uppercase;
  @include rems(18);
  @include mq(xl) {
    @include rems(20);
  }
}

.traits_definition {
  padding-bottom: 30px;
}
