@import "~style/paradox/helpers";

.container {
  @extend %container;

  background: none;
  margin-bottom: $buffer-section;

  @include min-width("md") { display: flex; }
  > div {
    @extend %shadow-box;

    margin-bottom: $buffer;

    @include min-width("md") {
      flex: 1;
      margin-bottom: 0;

      &:first-of-type { margin-right: $buffer; }
    }
    @include min-width("lg") {
      &:first-of-type { margin-right: $buffer-lg; }
    }
    @include theme("background", "background-color");
  }
}

.details {
  @include min-width("md") {
    display: flex;
    flex-direction: column;
  }
  > div {
    align-items: flex-start;
    display: flex;
  }
  .heading {
    display: block;
    font-size: $font-size-heading;
    margin-top: 5px;
  }
  .p {
    @include min-width("md") {
      display: flex;
      flex-grow: 1;
      flex-flow: column;
      justify-content: center;
      margin: 0;
    }
  }
  img {
    flex: initial;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 80px;

    &.fallback {
      border-radius: 50%;

      @include theme("background", "theme-color");
    }
  }
  span {
    display: block;
    font-weight: bold;

    @include theme("color", "theme-color");
  }
}
.meaning {
  align-items: center;
  display: flex;

  p {
    margin: 0;
    padding: 20px;
  }
  video {
    border-radius: $border-radius;
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
  }
}
