@import "~style/helpers";

.competencySelect {
  @include mq(m) {
    display: none;
  }
}
.mobileSelect {
  width: 93%;
  border: 1px solid #ddd;
  margin: 20px 10px;
  display: block;
  float: left;
  padding: 0 5px;
  background: #fff url("https://cdn.traitify.com/images/select.gif") no-repeat 95% 50%;
  height: 36px;
  line-height: 36px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
  @include rems(16);
}
.mobileBadge {
  margin: 0 auto;
  text-align: center;
  img {
    width: 150px;
  }
}

.tabsContainer {
  @extend %widgetContainer;
  background: white;
  color: #333;
}
.tabContainer {
  float: left;
  width: 100%;
}
.tabs {
  display: none;
  position: relative;
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  li {
    display: inline-block;
    text-align: center;
    padding: 20px 10px;
    width: 20%;
    vertical-align: top;
    white-space: normal;
    background: #F8F9FA;
    border: 1px solid #ddd;
    border-width: 1px 1px 2px 1px;
    @include mq(l) {
      @include rems(18);
    }
  }
  button {
    background: transparent;
    color: #A3A4A5;
    font-size: 18px;
  }
  img {
    width: 100px;
    height: auto;
  }
  .tab {
    border-top: 10px solid #42B1D8;
    border-width: 10px 1px 1px 1px;
    margin-top: 20px;
    &.high { border-top-color: #29B770; }
    &.low { border-top-color: #EF615E; }
    &.medium { border-top-color: #FFCC3B; }
  }
  .tabActive {
    background: #fff;
    border-bottom-width: 0;
    margin-top: 0;
    button {
      color: #333;
      margin-top: 20px;
    }
  }
  @include mq(m) {
    display: block;
  }
}

.tabsContent {
  clear: both;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-width: 0 1px 1px;
  h2, h3, span, a, button {
    color: #42B1D8;
  }
  h2 {
    font-weight: bold;
    @include rems(24);
    @include mq(l) {
      @include rems(30);
    }
  }
  h3 {
    @include rems(20);
    @include mq(l) {
      @include rems(24);
    }
  }
  h4 {
    padding-left: 40px;
    font-weight: bold;
    @include rems(18);
    @include mq(l) {
      @include rems(20);
    }
  }
  ul {
    padding-left: 60px;
    margin-bottom: 40px;
  }
  hr {
    border: 0;
    background: #ddd;
    height: 1px;
  }
  button {
    background: transparent;
    font-size: 16px;
    text-decoration: underline;
    padding: 0;
  }
}

.tabContentActive {
  display: block;
}
.tab {
  display: none;
}

.question {
  button {
    align-items: center;
    background: $lightblue;
    display: flex;
    padding: 20px;
    text-align: left;
    text-decoration: none;
    width: 100%;
    .questionIcon {
      color: $black;
      font-size: 36px;
    }
    .questionText {
      flex-grow: 1;
      font-size: 24px;
      font-weight: bold;
      margin-right: 20px;
    }
  }
  h3 {
    color: $black;
  }
}
