@import "~style/helpers";

.image {
  width: 140px;
  height: 140px;
  padding: 15px;
  display: inline-block;
  @include border-radius(50%);
  @include mq(m) {
    width: 200px;
    height: 200px;
    padding: 25px;
  }
  &:nth-of-type(2) {
    margin-left: -20px;
    @include mq(m) {
      margin-left: -35px;
    }
  }
  img {
    width: 75%;
    height: 75%;
    margin-top: 10%;
  }
}
