@import "style/helpers";

.container {
  @extend %box;
  @extend %container;

  margin-bottom: $buffer-section;
}

.dropdown {
  flex-shrink: 1;
  min-width: 0;
}

.recommendation {
  @extend %heading;

  flex-shrink: 0;
  border-radius: $border-radius-lg;
  padding: $buffer-sm $buffer-lg * 2;

  @include theme("color", "text-light");
}

.recommendations {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: $buffer;
  justify-content: space-between;
  margin: auto;

  @include min-width("md") {
    flex-direction: row;
  }
}
