@import "~style/helpers";

.traits {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  font: 100%/1.5 "Source Sans Pro", "Helvetica Neue", Verdana, Arial, sans-serif;
  font-weight: 400;
  color: #333;
  background: $white;
  margin-bottom: 40px;
}
.showMore {
  color: $black;
  background: $gray;
  display: inline-block;
  min-width: 155px;
  padding: 6px 25px;
  margin: 0 auto;
  text-align: center;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  @include rems(22);
  &:hover { background: $gray-hover; }
}
