init_config:

instances:
  - name: traitify-widgets
    url: http://{{ .Address }}:{{ .Port }}/js/v2/traitify.js
    include_content: true
    collect_response_time: true
    tags:
      - app_name:traitify-widgets

